* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

h2 {
	margin: 0;
	font-size: 108px;
}
h3{
	margin: 0;
	margin-bottom:2%;
	font-size: 23px;
}


.container {
	max-width: 340px;
	font-family: gulim;
	margin: auto;
  	position: absolute;
  	top: 10%; left: 0; bottom: 0; right: 0;
}

.titulo {
	font-family: "simhei";
}

.descripcionbox {
	margin-bottom: 20%;
	margin-top: 20%;
	padding: 0;
}

.imagenes {
	margin-bottom:2%;
}

.proy {
	font-size: 52px;
}

.dir {
	font-size: 37px;
	display: block;
}

.dis {
	font-size: 35px;
}

.lab {
	font-size: 29px;
}

.contacto {
	padding: 0;
	border: 0;
	margin-top: 5%;
}

img {
	margin: 2%;
}