* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
  font-family: 'gulim';
  src: url('../fonts/com_gulim.eot'); /* IE9 Compat Modes */
  src: url('../fonts/com_gulim.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/com_gulim.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/com_gulim.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'simhei';
  src: url('../fonts/com_simhei.eot'); /* IE9 Compat Modes */
  src: url('../fonts/com_simhei.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/com_simhei.ttf')  format('truetype'); /* Safari, Android, iOS */
}
body {
	background-color: black;
	color: white;
}

h2 {
	margin: 0;
	font-size: 98px;
}
h3{
	margin: 0;
	margin-bottom:2%;
}

img {
	margin: 2%;
	max-width: 20%;
}

.container {
	max-width: 340px;
	font-family: 'gulim';
	margin: auto;
  	position: absolute;
  	top: 10%; left: 0; bottom: 0; right: 0;
}

.titulo {
	font-family: "simhei";
}

.descripcionbox {
	margin-bottom: 20%;
	margin-top: 20%;
	padding: 0;
}

.imagenes {
	height: auto;
	max-width: 100%;
	display: block;
}

.proy {
	font-size: 42px;
}

.dir {
	font-size: 27px;
}

.dis {
	font-size: 25px;
}

.lab {
	font-size: 19px;
}

.contacto {
	padding: 0;
	border: 0;
	margin-top: 5%;
}

.mail {
	max-width: 340px;
	font-size: 22px;
}

.mailbox {
	padding: 0;
}